{
  "sdk_version": "dev",
  "executable": "Main.loom",
  "display": {
    "width": 480,
    "height": 320,
    "title": "Paperback Parse Example",
    "stats": true,
    "orientation": "auto"
  },
  "app_id": "com.example.PaperbackParseExample",
  "app_name": "PaperbackParseExample",
  "app_version": "1.0.0",
  "parse_app_id": "pbserver",
  "parse_server": "http://example.com/parse/",
  "parse_fcm_sender_id": "GCM/FCM Sender ID",
  "app_version_code": "1"
}